canvas {
  border: 2px solid black;
}
body {
  background-image: url('../image/initial-game-page.jpeg');
  height: 50px;
}
#start {
  padding: 20px 40px;
  margin: 160px 600px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #ff5500;
  border-radius: 20px;
}
h1 {
  color: white;
  margin: 30px 20px;
  text-shadow: 2px 4px 4px white;
}
div {
  color: white;
  margin: 30px 20px;
  font-size: 20px;
  text-shadow: 2px 4px 4px white;
}
.hidden {
  display: none;
}
li {
  margin: 10px;
}
